body {
    background-size: cover;
    background-position: center;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#start,
#objectStatus {
    font-size: 18px;
}

canvas {
    border: 2px dashed black;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px ghostwhite;
}

.footer {
    position: fixed;
    color: fuchsia;
    background-color: pink;
    bottom: 0;
    width: 100%;
    line-height: 2;
    text-align: center;
}